<%= form_with(model: user, local: false, html:{class:'ui form'}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin:5px 200px">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field" style="margin:5px 200px">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field" style="margin:5px 200px">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field" style="margin:5px 200px">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="pick-food-btn" style="margin:20px 0">
    <%= form.submit class:"actions ui red large button"%>
  </div>
<% end %>
