<h2 class="logo">Register or Login Page</h2>

<div class="login-page">
<%= form_with model: @user do |f| %>
<%= f.label :user_name %><br>
<%= f.text_field :user_name %><br><br>
<%= f.label :name %><br>
<%= f.text_field :name %><br><br>
<%= f.label :address %><br>
<%= f.text_field :address %><br><br>
<%= f.submit %>
<% end %>
</div>
