<p id="notice"><%= notice %></p>

<h1>Preferences</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @preferences.each do |preference| %>
      <tr>
        <%byebug%>
        <td><%= preference.user.username %></td>
        <td><%= link_to 'Edit', edit_preference_path(preference) %></td>
        <td><%= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Show', preference %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Your Preferences', new_preference_path %>
