<% if @cuisines_preferences.length > 0 %>

<%= form_for @cuisines_preference do |f| %>
<%= f.collection_radio_buttons :cuisine_id, @match_cuisines, :id, :name %>
<%= f.submit "Pick"%>
<%end%>
<% else %>

<h1><%= Cuisine.find(session[:selected_cuisine_id]).name %></h1>
<ul>
<% @results.each do |restaurant| %>
  <li>
    <%= link_to restaurant["name"], restaurant["url"] %>
  </li>
  <% end %>
</ul>

<% end %>
